@font-face {
  font-family: 'Adine Kirnberg Alternate';
  src: url(https://fusion809.github.io/ttf/AdineKirnberg-Alternate.ttf);
}

@font-face {
  font-family: 'Adine Kirnberg';
  src: url(https://fusion809.github.io/ttf/Adine Kirnberg.ttf);
}

@font-face {
  font-family: 'Precious';
  src: url(https://fusion809.github.io/ttf/Precious.ttf);
}

@font-face {
  font-family: 'Aguafina Script';
  src: url(https://fusion809.github.io/ttf/AguafinaScript-Regular.ttf);
}
