<table style="width:300px; border:1px solid black; float:right;" class="infobox">
  <tr>
    <td colspan="2" class="title1" style="font-size: 18px; text-align: center; width: 300px;">{{ include.editor }}</td>
  </tr>
  {% if include.logo %}<tr style="float: initial;">
    <td colspan="2" style="width:300px;">
      <div class = "infobox-icon">
        <figure>
          <p style="margin-left: auto; margin-right: auto; text-align: center;"><img src="https://fusion809.github.io/images/Logos/{{ include.logo }}" alt="{{ include.description }}" style = "width:120px; float: initial; position: relative; margin: auto; text-align: center;"/></p>
        </figure>
      </div>
    </td>
  </tr>{% endif %}
  {% if include.date %}<tr class="infobox-row">
    <td class="infobox-row-title">Release Date:</td>
    <td class="infobox-row">{{ include.date }}</td>
  </tr>{% endif %}
  {% if include.country %}<tr class="infobox-row">
    <td class="infobox-row-title">Country of Origin:</td>
    <td class="infobox-row">{{ include.country }}</td>
  </tr>{% endif %}
  <tr class="infobox-row">
    <td class="infobox-row-title">Developer(s):</td>
    <td class="infobox-row">{{ include.developers }}</td>
  </tr>
  <tr class="infobox-row">
    <td class="infobox-row-title">License:</td>
    <td class="infobox-row">{{ include.license }}</td>
  </tr>
  <tr class="infobox-row">
    <td class="infobox-row-title">Category:</td>
    <td class="infobox-row">{{ include.focus }}</td>
  </tr>
  <tr class="infobox-row">
    <td class="infobox-row-title">Written in:</td>
    <td class="infobox-row">{{ include.language }}</td>
  </tr>
  {% if include.repo %}<tr class="infobox-row">
    <td class="infobox-row-title">GitHub Repository:</td>
    <td class="infobox-row"><a href="https://github.com/{{ include.repo }}{% if include.subfolder %}/tree/master/{{ include.subfolder }}{% endif %}" link="_blank">{{ include.repo }}{% if include.subfolder %}, {{ include.subfolder }} subfolder.{% endif %}</a></td>
  </tr>
  <tr clss="infobox-row">
    <td class="infobox-row-title">Forks:</td>
    <td class="infobox-row"><img src="https://img.shields.io/github/forks/{{ include.repo }}.svg"></td>
  </tr>
  <tr clss="infobox-row">
    <td class="infobox-row-title">Stargazers:</td>
    <td class="infobox-row"><img src="https://img.shields.io/github/stars/{{ include.repo }}.svg"></td>
  </tr>
  <tr clss="infobox-row">
    <td class="infobox-row-title">Watchers:</td>
    <td class="infobox-row"><img src="https://img.shields.io/github/watchers/{{ include.repo }}.svg"></td>
  </tr>{% endif %}{% if include.sf %}<tr class="infobox-row">
    <td class="infobox-row-title">SourceForge Project(s):</td>
    <td class="infobox-row"><a href="https://sourceforge.net/projects/{{ include.sf }}/" link="_blank">{{ include.sf }}</a></td>
  </tr>{% endif %}
</table>
