<table style="width:{% if include.width %}{{ include.width }}{% else %}400px{% endif %}; border:1px solid black; float: right;" class="infobox">
  <caption id="table-1" style="text-align: center; font-size: 28px; background-color: #ffaaff;">
    {% if include.wm %}{{ include.wm }}{% elsif include.de %}{{ include.de }}{% elsif include.wc %}{{ include.wc }}{% endif %}
  </caption>
  <tr style = "float: initial;">
    <td colspan = "2" style = "width: {% if include.width %}{{ include.width }}{% else %}400px{% endif %};">
      <div class = "infobox-icon">
        {% if include.logo %}
        <figure>
          <p style="margin-left: auto; margin-right: auto; text-align: center;">
            <a href="https://fusion809.github.io/images/Logos/{{ include.logo }}" link="_blank"><img src="https://fusion809.github.io/images/Logos/{{ include.logo }}" style = "width:{% if include.logo_width %}{{ include.logo_width }}{% else %}100px{% endif %}; float: initial; position: relative; margin: auto; text-align: center;"/></a>{% if include.logo_caption %}<br/>
            <span class="caption">{{ include.logo_caption }}</span>{% endif %}
          </p>
        </figure>
        {% endif %}

        <figure>
          <p style="margin-left: auto; margin-right: auto; text-align: center;">
            <a href="{{ include.screenshot }}" link="_blank"><img src="{{ include.screenshot }}" alt="{{ include.description }}" style = "width:{% if include.screenshot_width %}{{ include.screenshot_width }}{% else %}400px{% endif %}; float: initial; position: relative; margin: auto; text-align: center;"/></a>
            <span class="caption">{{ include.screenshot_caption }}</span>
          </p>
          </figure>
      </div>
    </td>
  </tr>
  <tr class="note">
    <td class="note" colspan="2"><b><i>Note:</i></b> the hyperlinks in this infobox are mostly to the relevant Wikipedia articles, but otherwise it is to be best external site I can find.</td>
  </tr>
  {% include_relative infobox/01-background.html %}
  {% include_relative infobox/02-components.html %}
  {% include_relative infobox/03-sru.html %}
  {% include_relative infobox/04-links.html %}
</table>

