/**
Figure
**/

caption strong p {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

caption.red {
    background-color: rgb(255,128,128);
}

caption.blue {
    background-color: rgb(255,82,255);
}

figure img {
    font-style: normal;
    font-weight: bold;
    font-family: sans-serif;
    padding: 2px;
    border: 1px solid #fff;
    vertical-align: middle;
    background-color: #fff;
    max-width: 100%;
}

// Clear
div.clear {
    all: initial;
}

// Copyright notice
.copyright {
    background-color: rgb(223, 233, 245);
    border-radius: 4px solid rgb(223, 233, 245);
    padding: 4px;
}

div.highlight.highlight-source-shell pre {
    background-color: white;
    color: #222;
}

div#readme p code {
    border: none;
    color: #222;
    border: 1px solid rgb(204, 204, 204);
}

div.image-box {
    padding: 10px;
    padding-bottom: 6px;
    border: 2px solid inherit;
    background-color: inherit;
    border-radius: 8px;
    vertical-align: middle;
}

figcaption {
    background-color: #60ff60;
    padding: 2px;
    color: #000;
    float: center;
    font-weight: bold;
    font-family: sans-serif;
    border: 5px solid #30ff30;
    border-radius: 4px;
    vertical-align: middle;
}

caption, div.caption {
    background-color: #60ff60;
    padding: 2px;
    color: #000;
    float: center;
    font-weight: bold;
    font-family: sans-serif;
    border: 2px solid #000;
    border-radius: 4px;
    vertical-align: middle;
    font-size: 20px;
}

/**
* Other
*/

kbd {
    -moz-border-radius:    3px;
    -moz-box-shadow:       0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-border-radius: 3px;
    -webkit-box-shadow:    0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    background-color:      #f7f7f7;
    border:                1px solid #ccc;
    border-radius:         3px;
    box-shadow:            0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color:                 #333;
    display:               inline-block;
    font-family:           Arial,Helvetica,sans-serif;
    font-size:             11px;
    line-height:           1.4;
    margin:                0 .1em;
    padding:               .1em .6em;
    text-shadow:           0 1px 0 #fff;
}

div.note, div.sidebarblock {
    padding: 1px;
    border: 4px solid rgb(255, 160, 160);
    border-radius: 4px;
    background-color: #ffa0a0;
}

div.note-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

div.derivatives {
    padding: 2px;
    border: 4px solid rgb(160, 255, 160);
    background-color: rgb(180,255,255);
    float: right;
}

div.draft {
    padding: 5px;
    border: 8px solid rgb(255,50,50);
    background-color: rgb(180,255,180);
    font-size: 24px;
}

div.columnizeList {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

div.columnizeList3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

div.columnizeList4 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}

select {
    background: #fff !important;
}

span.irc {
    background: #fff;
    color: #f00;
    font-family: monospace;
}

span.title {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

span.overlay {
    background-color: rgba(51, 51, 51, 100);
    color: white;
    border-radius: 4px;
    border: 1px solid rgba(51, 51, 51, 100);
    padding: 4px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: auto;
    font-family: monospace;
}

a span.overlay {
    color: #8ff;
    background-color: rgba(51, 51, 51, 100);
    border-radius: 4px;
    border: 1px solid rgba(51, 51, 51, 100);
    padding: 4px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: auto;
    font-family: monospace;
}

a span.category {
    color: #8ff;
    background-color: rgba(51, 51, 51, 100);
    border-radius: 4px;
    border: 1px solid rgba(51, 51, 51, 100);
    padding: 4px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: auto;
    font-family: monospace;
}

span.category {
    background-color: rgba(51, 51, 51, 100);
    color: white;
    border-radius: 4px;
    border: 1px solid rgba(51, 51, 51, 100);
    padding: 4px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: auto;
    font-family: monospace;
}

span.package {
    background-color: rgb(220,220,220);
    color:            rgba(0, 0, 0, 100);
    border-radius:    3px;
    font-size:        14.4px;
    border:           1px solid rgb(220,220,220);
    padding:          3px;
    margin-bottom:    8px;
    box-shadow:       0 1px 3px #757575, 0 1px 2px #5b5b5b;
    white-space:      nowrap;
    overflow:         auto;
    font-family:      monospace;
}

a span.package {
    background-color: rgb(220,220,220);
    color:            #11f;
    white-space:      nowrap;
    overflow:         auto;
    font-family:      monospace;
}

span.path {
    background-color: rgb(255,255,255);
    color:            rgba(0, 0, 0, 100);
    border-radius:    3px;
    font-size:        14.4px;
    padding:          3px;
    margin-bottom:    8px;
    box-shadow:       0 1px 3px #757575, 0 1px 2px #5b5b5b;
    white-space:      nowrap;
    overflow:         auto;
    font-family:      monospace;
}

a span.path {
    background-color: rgb(255,255,255);
    color:            #00f;
    white-space:      nowrap;
    overflow:         auto;
    font-family:      monospace;
}

div.title1 {
    border-collapse: collapse !important;
    padding: 8px;
    vertical-align: middle;
    border-top: 1px solid #000;
    border: 2px solid #000 !important;
    border-radius: 4px;
    background-color: rgb(255, 128, 128);
    font-weight: bold;
    white-space: nowrap;
}

div.title2 {
    border-collapse: collapse !important;
    padding: 8px;
    vertical-align: middle;
    border-top: 1px solid #000;
    border: 2px solid #000 !important;
    border-radius: 4px;
    background-color: rgb(255, 0, 255);
    font-weight: bold;
    white-space: nowrap;
}

li {
    margin: 0 0 6px 0;
    line-height: 180%;
}

p {
    line-height: 180%;
}

header.site-header .wrapper {
    background-color: rgb(160,220,255);
    color: #111;
    font-size: 16px;
}

header.site-header1 {
    background-color: rgb(160,220,255);
    color: #111;
    font-size: 16px;
}

footer.site-footer .wrapper {
    background-color: rgb(255,180,255);
    color: #111;
    font-size: 16px;
}

footer.site-footer1 {
    background-color: rgb(255,180,255);
    color: #111;
    font-size: 16px;
}

p.subheader {
    margin-bottom: 10px; 
    text-indent: 20px; 
    font-weight: bold; 
    background-color: #7798ab;
}
