/**
 * Site header
 */

// header
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
  // Positioning context for the mobile navigation icon
  position: relative;
}

// Under trigger is the site-nav
.trigger {
  background-color: rgb(255,200,100);
  border:           4px solid white;
  border-radius:    4px;
  clear:            both;
  color:            black;
  font-weight:      bold;
  line-height:      0px;
  padding:          4px;
}

.pages-nav {
  background-color: rgb(150,255,100);
  border:           2px solid rgb(150,255,100);
  border-radius:    2px;
  font-size:        16px;
  font-weight:      bold;
  line-height:      18px;
  padding:          2px;
  text-align:       center;
}
