/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-header {
  font-size: 20px;
  padding: 4px;
  color: #000;
  border: 2px solid #000;
  font-weight: bold;
  radius: 2px;
  background-color: rgb(255,100,255);
}

.data-meta {
  font-size:         $small-font-size;
  color:             black;
  font-weight:       bold;
  background-color:  rgb(0,200,255);
  border:            2px solid #000 !important;
  border-collapse:   collapse !important;
  border-radius:     4px;
  border-top:        1px solid #000;
  padding:           6px;
  max-width:         900px;
}

.data-meta a {
  color:             rgba(0,0,255,1.0);
}

.post-meta {
  font-size:         14px;
  color:             black;
  font-weight:       bold;
  max-width:         900px;
}

.post-meta a {
  color:             rgba(0,0,255,1.0);
}

.tag-meta {
  font-size:         $small-font-size;
  color:             black;
  font-weight:       bold;
  background-color:  rgb(255,255,255);
  border:            2px solid #000 !important;
  border-collapse:   collapse !important;
  border-radius:     4px;
  border-top:        1px solid #000;
  padding:           6px;
  width:             500px;
}

.post-link {
  display:   block;
  font-size: 24px;
}

.posts {
  width:            100%;
  text-align:       left;
  border:           10px;
  border-radius:    5px;
  padding:          10px;
}
