{% include Layouts/clear.html %}

<h2>Footnotes</h2>
<ol>
    {% include_relative fn-end.html no="1" content="As, using virtualization, of course, one could run any game one wanted via virtualizing the operating system said games ran natively on." %}
    {% include_relative fn-end.html no="2" content="Source: <a href='https://play0ad.com/about/the-story-of-0-a-d/' link='_blank'><i>The Story of 0 A.D.</i></a>. Retrieved 16 April 2017." %}
    {% include_relative fn-end.html no="3" content="Source: <a href='http://www.spi-inc.org/projects/' link='_blank'><i>SPI Associated Projects</i></a>. Retrieved 16 April 2017." %}
    {% include_relative fn-end.html no="4" content="All this information is as of 16 April 2017, when this section was first written." %}
    {% include_relative fn-end.html no="5" content="Source: <a href='http://red.planetarena.org/aquire.html' link='_blank'><i>Download page</i></a> (not italicized as this is not the official name of this page). Retrieved 16 April 2017." %}
    {% include_relative fn-end.html no="6" content="Source: <a href='http://red.planetarena.org/about.html' link='_blank'><i>About page</i></a>. Retrieved 16 April 2017." %}
    {% include_relative fn-end.html no="7" content="Source: <a href='https://wiki.wesnoth.org/WesnothBinariesLinux' link='_blank'><i>WesnothBinariesLinux</i></a>. Retrieved 30 April 2017." %}
    {% include_relative fn-end.html no="8" content="Source: <a href='https://megaglest.org/' link='_blank'><i>MegaGlest - MegaGlest</i></a>. Retrieved 30 April 2017." %}
</ol>
