<h2>Footnotes</h2>
<ol>
    <!-- Footnote 1-->
    {% capture fn1 %}
    Source: <a href='http://moolenaar.net/vimstory.pdf' link='_blank'><i>The continuing story of Vim</i></a>, by Bram Moolenar. Retrieval date 17 May 2017. 
    {% endcapture %}
    {% include Footnotes/fn-end.html content=fn1 no="1" %}
    <!-- Footnote 2-->
    {% capture fn2 %}
    Source: <a href='https://www.youtube.com/watch?v=ayc_qpB-93o' link='_blank'><i>Vim 25 presentation by Bram Moolenaar on 2016 November 2</i></a>, by Bram Moolenar. Retrieval date 17 May 2017. The origins of Vim as a Stevie fork is at <a href='https://www.youtube.com/watch?v=ayc_qpB-93o&t=367' link='_blank'>6:07</a>.
    {% endcapture %}
    <!-- Render-->
    {% include Footnotes/fn-end.html content=fn2 no="2" %}
</oL>
