<table style="width: 100%; border: 1px; padding: 1em; vertical-align: middle;">
  <tbody style="width:500px;">
    <caption id="table-1">
      {{ site.data.appimages.caption | markdownify }}
    </caption>
    <tr class="green">
      <td class="title1">AppImage</td>
      <td class="title1">Download</td>
    </tr>
    {% for row in site.data.appimages.body %}
    <tr class="green">
      <td class="green"><a href="{{ row.url }}" link="_blank">{% if row.name %}{{ row.name }}{% else %}{{ row.appimage }}{% endif %}</a></td>
      <td class="green"><a href="https://bintray.com/probono/AppImages/{{ row.appimage }}/_latestVersion#files" link="_blank"><img src="https://api.bintray.com/packages/probono/AppImages/{{ row.appimage }}/images/download.svg"></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
