<div class = "console">
{{ include.line1 }}
{% if include.line2 %}
{{ include.line2 }}
{% if include.line3 %}
{{ include.line3 }}
{% if include.line4 %}
{{ include.line4 }}
{% if include.line5 %}
{{ include.line5 }}
{% if include.line6 %}
{{ include.line6 }}
{% if include.line7 %}
{{ include.line7 }}
{% if include.line8 %}
{{ include.line8 }}
{% if include.line9 %}
{{ include.line9 }}
{% if include.line10 %}
{{ include.line10 }}
{% if include.line11 %}
{{ include.line11 }}
{% if include.line12 %}
{{ include.line12 }}
{% if include.line13 %}
{{ include.line13 }}
{% if include.line14 %}
{{ include.line14 }}
{% if include.line15 %}
{{ include.line15 }}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
</div>
