<!DOCTYPE html>
<html>

  <head>
  <meta name="ocs-site-verification" content="258042f12fef44bd95f4798e681e3daf" />
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/main2.css" rel="stylesheet" type="text/css">
  <link href="/css/my.css" rel="stylesheet">
  <link href="/css/custom-font.css" rel="stylesheet">
  <link href="/css/font-awesome.css" rel="stylesheet">
  <link href="https://fusion809.github.io/images/favicon.png" rel="shortcut icon" type="image/png">
  <script src="/js/jquery-1.12.4.js" type="text/javascript"></script>
  <script src="/js/jquery.easyListSplitter.js" type="text/javascript"></script>
  <script src="/js/columnize-list.js" type="text/javascript"></script>
  <script src="/js/toc2.js" type="text/javascript"></script>
  <script src="/js/raphael.min.js" type="text/javascript"></script>
  <script src="/js/flowchart-latest.js" type="text/javascript"></script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  </head>

  <body>
    {% include Layouts/header2.html %}
    <div class="page-content">
      <div class="wrapper1">
        {{ content }}
      </div>
    </div>
    {% include Layouts/footer2.html %}
  </body>
</html>
