<!DOCTYPE html>
<html>

  <head>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/my.css" rel="stylesheet">
  <link href="/css/custom-font.css" rel="stylesheet">
  <link href="/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/colors.css">
  <link href="https://fusion809.github.io/ttf/font-mfizz-2.3.0/dist/font-mfizz.css" rel="stylesheet">
  <link href="https://fusion809.github.io/images/favicon.png" rel="shortcut icon" type="image/png" >
  <script src="/js/jquery-1.12.4.js" type="text/javascript"></script>
  <script src="/js/jquery-ui.js" type="text/javascript"></script>
  <script src="/js/jquery.easyListSplitter.js" type="text/javascript"></script>
  <script src="/js/columnize-list.js" type="text/javascript"></script>
  <script src="/js/toc.js" type="text/javascript"></script>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  </head>

  <body>

    {% include Layouts/header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include Layouts/footer.html %}

  </body>
</html>
