---
layout: default2
---
<article class="page">
  <header class="page-header">
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <p class="page-meta">
      <time><b>First published</b>: {{ page.date | date: "%A, %-d %B %Y" }}.</time>
      {% if page.last_modified_at %}<time datetime="{{ page.last_modified_at | date:"%r, %A %d %B %Y %Z" }}" itemprop="dateModified"><br/><b>Last modified</b>: &nbsp;&nbsp;&nbsp;{{ page.last_modified_at | date:"%I:%M %p %A, %d %B %Y" }} (AEST).</time>{% endif %}
    </p>
  </header>
  <div class="page-content">
    {% include Layouts/toc.html %}
    {% if page.draft=="yes" %}{% include Layouts/draft.html %}{% endif %}
    {{ content }}
  </div>
</article>
