<div class="note">
  <b>LEGEND:</b>
  <ul>
    <li>{{ include.legend1 | markdownify }}</li>
    {% if include.legend2 %}
    <li>{{ include.legend2 | markdownify }}</li>
    {% if include.legend3 %}
    <li>{{ include.legend3 | markdownify }}</li>
    {% if include.legend4 %}
    <li>{{ include.legend4 | markdownify }}</li>
    {% if include.legend5 %}
    <li>{{ include.legend5 | markdownify }}</li>
    {% if include.legend6 %}
    <li>{{ include.legend6 | markdownify }}</li>
    {% if include.legend7 %}
    <li>{{ include.legend7 | markdownify }}</li>
    {% if include.legend8 %}
    <li>{{ include.legend8 | markdownify }}</li>
    {% if include.legend9 %}
    <li>{{ include.legend9 | markdownify }}</li>
    {% if include.legend10 %}
    <li>{{ include.legend10 | markdownify }}</li>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
  </ul>
</div>
