<div class="note">

<b>NOTE:</b>
<ul>
	<li><em>{{ include.note1 | markdownify }}</em></li>
  {% if include.note2 %}
  <li><em>{{ include.note2 | markdownify }}</em></li>
  {% if include.note3 %}
  <li><em>{{ include.note3 | markdownify }}</em></li>
  {% if include.note4 %}
  <li><em>{{ include.note4 | markdownify }}</em></li>
  {% if include.note5 %}
  <li><em>{{ include.note5 | markdownify }}</em></li>
  {% if include.note6 %}
  <li><em>{{ include.note6 | markdownify }}</em></li>
  {% if include.note7 %}
  <li><em>{{ include.note7 | markdownify }}</em></li>
  {% if include.note8 %}
  <li><em>{{ include.note8 | markdownify }}</em></li>
  {% if include.note9 %}
  <li><em>{{ include.note9 | markdownify }}</em></li>
  {% if include.note10 %}
  <li><em>{{ include.note10 | markdownify }}</em></li>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
</ul>
</div>
<br/>
