<div id="item">
  <ol>
    <li>
      {{ include.item1 }}
    </li>
    <li>
      {{ include.item2 }}
    </li>
    {% if include.item 3 %}
    <li>
      {{ include.item3 }}
    </li>
    {% endif %}
    {% if include.item4 %}
    <li>
      {{ include.item4 }}
    </li>
    {% endif %}
    {% if include.item5 %}
    <li>
      {{ include.item5 }}
    </li>
    {% endif %}
    {% if include.item6 %}
    <li>
      {{ include.item6 }}
    </li>
    {% endif %}
    {% if include.item7 %}
    <li>
      {{ include.item7 }}
    </li>
    {% endif %}
    {% if include.item8 %}
    <li>
      {{ include.item8 }}
    </li>
    {% endif %}
    {% if include.item9 %}
    <li>
      {{ include.item9 }}
    </li>
    {% endif %}
    {% if include.item10 %}
    <li>
      {{ include.item10 }}
    </li>
    {% endif %}
    {% if include.item11 %}
    <li>
      {{ include.item11 }}
    </li>
    {% endif %}
    {% if include.item12 %}
    <li>
      {{ include.item12 }}
    </li>
    {% endif %}
    {% if include.item13 %}
    <li>
      {{ include.item13 }}
    </li>
    {% endif %}
    {% if include.item14 %}
    <li>
      {{ include.item14 }}
    </li>
    {% endif %}
    {% if include.item15 %}
    <li>
      {{ include.item15 }}
    </li>
    {% endif %}
    {% if include.item16 %}
    <li>
      {{ include.item16 }}
    </li>
    {% endif %}
    {% if include.item17 %}
    <li>
      {{ include.item17 }}
    </li>
    {% endif %}
    {% if include.item18 %}
    <li>
      {{ include.item18 }}
    </li>
    {% endif %}
  </ol>
</div>
